<% provide(:title, @product.name) %>
<%= render '/layouts/light_section', product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_product', product: @product %>
    <%= render 'related_products', product: @product %>
  </div>
</section>