<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/headers/header' %>
      <%= yield %>
      <%= render 'layouts/footers/footer' %>
      <%= render 'layouts/modals/modal' %>
    </div>
  </body>
</html>
